.sass-cache/
*.css.map
*.sass.map
*.scss.map
assets/Icon\r
assets/assets-for-demo/Icon\r
assets/css/Icon\r
assets/img/Icon\r
assets/img/examples/Icon\r
assets/img/faces/Icon\r
assets/img/flags/Icon\r
assets/img/presentation/Icon\r
assets/img/sections/Icon\r
assets/js/Icon\r
assets/sass/Icon\r
assets/sass/material-kit/Icon\r
assets/sass/material-kit/plugins/Icon\r
assets/sass/material-kit/sections/Icon\r
examples/Icon\r
